.logo {
    max-width:10%;
    overflow: hidden;
    
}
.logoutNav{
    /* background-color: #D5DBB3; */
    background-color: var(--color-nav);
}
#home,
#ranking,
#events,
#history,
#odds{
    display: inline;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 35px;
    justify-content: center;

}
#signUp {
    color: blue;
    justify-content: end;
    display: inline-flex;
}