.logo {
    width:15%;
    overflow: hidden;
}
.logoutNav{
    /* background-color: #D5DBB3; */
    background-color: var(--color-nav);
}
#home,
#ranking,
#events,
#history,
#odds{
    display: inline;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    text-align: justify;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}