.logo {
    max-width:80px;
    overflow: hidden;
    cursor: "pointer";
    float: left;
}

#logOutNav{
    background-color: var(--color-nav);
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.logOutNav{
    overflow: hidden;
    background-color: var(--color-nav);
}
.logoutNav{
    background-color: var(--color-nav);
}

#home,
#ranking,
/* #events, */
#history,
#odds,
#contact,
#signUp{
    display: block;
    float: left;
    font-size: 20px;
    text-decoration: none;
    color: white;
    /* margin-left: 10px; */
    margin-right: 35px;
    margin-top: 5px;
    /* vertical-align: center; */
}

#home {
    margin-left: 20px;
}