:root {
    --accent1: #BB371A;
    --background: #FFF8D9;
    --color-nav: #D5DBB3;
    --text: #180A0A;
    --white: #F7F7F7;
}

.base {
    color: green;
    font-family: 'Abril Fatface', cursive;
    min-height: 100%;
    height: 100%;
    margin: 0 auto -50px;
    background: var(--color-nav);
}