.rankings {
    font-size: 30px;
    /* py: 30px; */
    margin-bottom: 30px;
}

.tabs {
    font-size: 20px;
    font-weight: bold;
}
.tab1{
    font-size: 50px;
}

/* .search {

} */

searchBar {
    padding-top: 30px;
    padding-bottom: 30%;
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .TableContainer {
        width: 90%;
    }
}