.odds {
    width: 100%;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    /* margin-top: 50px; */
    min-height: calc(100vh - 275px);
}
.pOptions {
    display: flex;
    justify-content: center;
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-left: 50%; */
}

.player1 {
    /* border: 1px black solid; */
    display: inline-flex;
    /* width: 30%; */
    margin-left: 10%;
    /* margin-top: 50px; */
    line-height: 4;
}

.player2 {
    /* border: 1px black solid; */
    display: inline-flex;
    /* width: 30%; */
    margin-left: 10px;
    line-height: 4;
    margin-top: 10px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.submit {
    display: inline;
    /* margin-left: 15px; */
    /* margin-top: 15px; */
    /* width: 150px; */
    /* padding: 10px; */
    font-size: 18px;
    height: 58px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; */
    vertical-align: auto;
}

.submitBtn {
    margin-left: 10px;
    margin-top: 10px;
    height: 56px;
    width: 150px;
    display: inline-flex;
    background-color: var(--color-nav);
    border: 2px solid black;
    border-radius: 0.5rem;
    justify-content: center;
    font-size: 18px;
    line-height: 3;
}

.results {
    display: flex;
    justify-content: center;
}

.left {
    /* border: 1px solid black; */
    /* width: 40%; */
    display: inline-block;
    justify-content: center;
    /* margin-left: 10%; */
    padding: 5px;
}

.middle {
    /* border: 1px solid black; */
    /* width: 40%; */
    display: inline-block;
    justify-content: center;
    /* margin-left: 10%; */
    padding: 5px;
}

.right {
    /* width: 300px; */
    display: inline-block;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
  margin-left: 6px;
    margin-top: 6px;
} 

.card {
    display: inline-block;
    justify-content: center;
    /* margin-left: 65%; */
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 350px;
    /* margin-top: 10px; */
}

.img {
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    display: flex;
    padding: 7px;
    /* max-height: 200px; */
    /* max-width: 260px; */
}

.reset {
    display: flex;
    justify-content: center;
}

.resetBtn {
    height: 35px;
    width: 150px;
    margin-bottom: 10px;
    background-color: var(--color-nav);
    border: 2px solid black;
    border-radius: 0.5rem;
    justify-content: center;
    font-size: 18px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    padding-top: 10px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}

.cardDetails{
    /* display: inline-block; */
    justify-content: center;
    /* margin-left: 65%; */
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    flex-direction: column;
}