.odds {
    width: 100%;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    /* margin-top: 50px; */
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-left: 50%; */
}

.player1 {
    /* border: 1px black solid; */
    display: inline-flex;
    /* width: 30%; */
    margin-left: 10%;
    /* margin-top: 50px; */
}

.player2 {
    /* border: 1px black solid; */
    display: inline-flex;
    /* width: 30%; */
    margin-left: 10px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.submit {
      display: inline-flex;
      margin-left: 15px;
      margin-top: 15px;
      /* width: 150px; */
      padding: 10px;
      font-size: 18px;
      height: 58px;
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px; */
      vertical-align: auto;
}
 
.results {
    display: flex;
    justify-content: center;
}

.left {
    /* border: 1px solid black; */
    /* width: 40%; */
    display: inline-block;
    justify-content: center;
    /* margin-left: 10%; */
    padding: 15px;
}

.middle {
    /* border: 1px solid black; */
    /* width: 40%; */
    display: inline-block;
    justify-content: center;
    /* margin-left: 10%; */
    padding: 15px;
}

.right {
    /* width: 300px; */
    display: inline-block;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
    /* margin-left: 65%; */
    margin-top: 15px;
}

.card {
    display: inline-block;
    justify-content: center;
    /* margin-left: 65%; */
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* margin-top: 10px; */
}

.img {
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    display: flex;
    max-height: 200px;
    max-width: 260px;
}

.reset {
    display: flex;
    justify-content: center;
}

.resetBtn {
    height: 35px;
    width: 150px;
    margin-bottom: 10px;
}
h3 {
    display: flex;
    justify-content: center;
}
h4 {
    padding-top: 10px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}