
#homeEvents {
    direction: row-reverse;
    /* backgroundColor: blue; */
}

.home {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 5%;
    text-align: center;
    padding: 30px;
}
.homeRankings{
    /* height: 500px; */
    line-height: 1;
    padding: 0;
    margin: 0;
}
.rankings {
    font-size: 30px;
    padding: 0;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.tab {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    inline-size: auto;
    max-width: 120px;
    max-height: 15px;
}
.tabs {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    inline-size: auto;
    padding: 0;
    margin: 0 auto;
    overflow-wrap: break-word;
    max-width: fit-content;
    height: 15px;
}

.titles{
    background-color: #D5DBB3;
    padding: 0;

}

.rankLink {
    color: green;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .home {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .home {
        width: 90%;
    }
}