img {
    width: 100%;
}

#homeEvents {
    direction: row-reverse;
}

.home {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 5%;
    text-align: center;
    padding: 30px;
}

.homeRankings{
    /* height: 500px; */
    line-height: 1;
    padding: 0;
    margin: 0;
}
.rankings {
    font-size: 30px;
    padding: 0;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.tab {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    inline-size: auto;
    max-width: 15px;
    max-height: 15px;
}
.tabs {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    inline-size: auto;
    padding: 0 auto;
    margin: 0 auto;
    overflow-wrap: break-word;
    max-width: fit-content;
    height: 15px;
}

.titles{
    /* background-color: #D5DBB3; */
    font-weight: bold;
    padding: 0;

}

.rankLink {
    color: green;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.card {
    display: inline-block;
    justify-content: center;
    /* margin-left: 65%; */
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* margin-top: 10px; */
}

.completedImg {
    display: inline-block;
    justify-content: center;
    flex-basis: 50%;
}
/* 
.container {
    display: flex;
} */

.eventText {
    display: inline-block;
    flex-basis: 50%;
    text-align: end;
}

.completedName, .upcomingName {
    font-weight: bold;
    font-size: 20px;
}

/* .completedLocation .completedDate .completedLink */


/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .home {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .home {
        width: 90%;
    }
}