footer {
    background: var(--color-nav);
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    width: 100%;

    /* position: fixed;
    bottom: 0; */
    
    position: absolute;
    height: auto;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto 15px;
    text-decoration: none;
    font: 25px;
    color: white;
    font-weight: bold;
}

/* .copyright { */
    /* margin-bottom: 20px; */
/* } */