.contact {
    display: grid;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

h4 {
    font-size: 1rem;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--color-white);
    border: 2px solid var(--color-nav);
    resize: none;
    color: black;
    font-family: "Helvetica", "Arial", sans-serif;
    
}

.submitBtn {
    width: 25%;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: var(--color-nav);
    border: 2px solid black;
    border-radius: 0.5rem;

}

/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .contact {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .contact {
        width: 96%;
    }
}